<div class="title-container">
    <h2>Facultades y Escuelas</h2>
    <mat-divider></mat-divider>
    <h3>Área I: Ciencias Físico-Matemáticas y de las Ingenierías</h3>
</div>
<div class="card-grid" >

    <div class="card" *ngFor="let ar of area1 " tabindex="0" role="link">
      <h3>{{ar}}</h3>
    </div>
</div>
<div class="space-container"></div>


<div class="title-container">
    
    <h3>Área II: Ciencias Biológicas, Químicas y de la Salud</h3>
</div>
<div class="card-grid" >

    <div class="card" *ngFor="let ar of area2 " tabindex="0" role="link">
      <h3>{{ar}}</h3>
    </div>
</div>
<div class="space-container"></div>
<div class="title-container">
    
    <h3>Área III: Ciencias Sociales</h3>
</div>
<div class="card-grid" >

    <div class="card" *ngFor="let ar of area3 " tabindex="0" role="link">
      <h3>{{ar}}</h3>
    </div>
</div>
<div class="space-container"></div>
<div class="title-container">
    
    <h3>Área IV: Humanidades y de las Artes</h3>
</div>
<div class="card-grid" >

    <div class="card" *ngFor="let ar of area4 " tabindex="0" role="link">
      <h3>{{ar}}</h3>
    </div>
</div>
<div class="space-container"></div>
<div class="title-container">
    
    <h3>Escuelas Nacionales (Bachillerato y otras)</h3>
</div>
<div class="card-grid" >

    <div class="card" *ngFor="let ar of escuelasNacionales " tabindex="0" role="link">
      <h3>{{ar}}</h3>
    </div>
</div>
<div class="space-container"></div>
