.a-link{
    text-decoration: none;
    color:black;
    
}

.main-container{
    display: flex;
    flex-direction: row;
    
}
.title-container{
    padding-top: 30px;
    background-color: var(--background-color);

}
.title-container a{
    font-size: 14px;
    
}

.title-container p{
    color: var(--card-contentFont);
}

.main-container, .title-container  {
    padding-left: 5vw;
    padding-right: 5vw;
    background-color: var(--background-color);
}

.descripcion-container{
    padding-right: 10vw
}
.descripcion-container p{
    padding-top:10px;
    padding-bottom: 20px;
    color: var(--card-contentFont)
}


.span-arrow{
    padding-left: 2vw;
    padding-right: 2vw;
}

.filler-container{
    height:400px;
    background-color: var(--background-color);
}

button{
   background-color:  var(--card-background) !important;
   color: var(--card-contentFont) !important;
}

.enlaces-container h4{
 color: var(--text-color);
}

.enlaces-container p, .enlaces-container a, .enlaces-container mat-icon{
color:var(--card-contentFont);
}